body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #757575;
}

.contenedor {
  text-align: center;
  margin-top: 100px;
}

h1 {
  color: #000000;
}

h2 {
    color: #1b85ff
}

p {
  color: #000000;
}